@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Chivo", sans-serif;
}
.App {
  width: 100%;
  max-width: 360px;

  margin: auto;
  outline: 1px solid black;
}

.navbar {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 21px;
}

.navbar img {
  height: 2.5rem;
}

.menu {
  border-top: 0.25px solid #d7d7d7;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 21px;
}

/* item card */
.item-card {
  display: flex;
  width: 100%;
  height: auto;
  border-top: 0.25px solid #d7d7d7;
}

.item-card:nth-child(odd) {
  background: #fffcf2;
}
.item-card-details {
  padding: 21px 33px;
}
.item-card-details h1 {
  color: #000;
  font-family: Chivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-card-details p {
  color: #000;
  font-family: Chivo;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 21px 0px;
}
.item-card-details h1 {
  color: #000;
  font-family: Chivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item-stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 33px;
}

.item-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-stats div > span:first-child {
  color: #000;
  text-align: center;
  font-family: Chivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-stats div > span:nth-child(2) {
  color: #000;
  font-family: Chivo;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-card-menu {
  border-left: 0.25px solid #d7d7d7;
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 21px;
}
.item-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}
.item-contact span {
  color: #000;
  font-family: Chivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  height: 20px;
  width: auto;
}

.icon-container {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-colored {
  color: #8d4337;
}
.icon-container span {
  color: #8d4337;
  font-family: Chivo;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
